.wprt_keyword {
  &.wprt_show_popup {
    &:after {
      content: '';
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
      z-index: 9999;
      top: 0;
    }
  }
  
  //Base
  @import 'base/variables.scss';
  @import 'base/mixins.scss';
  @import 'base/reset.scss';
  @import 'base/function.scss';
  @import 'base/typography.scss';
  @import 'base/breakpoints.scss';

  // Vendors
  @import "~tom-select/dist/css/tom-select.min.css";
  @import "~daterangepicker/daterangepicker.css";
  @import "~datatables.net-dt/css/jquery.dataTables.min.css";
  @import "~datatables.net-buttons-dt/css/buttons.dataTables.min.css";
  @import "~uikit/dist/css/uikit.min.css";
  @import "vendors/flag-icons.min.css";

  // Atoms
  @import 'atoms/button.scss';

  // Layout
  @import 'layout/header.scss';

  //Component
  @import 'components/add-keyword-popup';
  @import 'components/add-keyword-animation';
  @import "components/alert";
  @import "components/overview";
  @import "components/datepicker";

  // Sections
  @import 'sections/keyword-list';
  @import 'sections/keyword-table';
  @import 'sections/activation';
  @import 'sections/settings';
}
@import "components/admin-menu";
