@import "vendors/daterangepicker.scss";

.wprt_keyword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9fbfd;
  
  &.wprt_show_popup {
    &:after {
      content: '';
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100vh;
      z-index: 9999;
      top: 0;
      left: 0;
    }
  }

  // Vendors
  @import "vendors/tom-select.min.scss";
  @import "vendors/jquery.dataTables.min.scss";
  @import "vendors/buttons.dataTables.min.scss";
  @import "vendors/uikit.min.scss";
  @import "vendors/flag-icons.min.scss";
  
  //Base
  @import 'base/variables.scss';
  @import 'base/mixins.scss';
  @import 'base/reset.scss';
  @import 'base/function.scss';
  @import 'base/typography.scss';
  @import 'base/breakpoints.scss';

  // Vendors
  @import "vendors/tom-select.min.scss";
  @import "vendors/jquery.dataTables.min.scss";
  @import "vendors/buttons.dataTables.min.scss";
  @import "vendors/uikit.min.scss";
  @import "vendors/flag-icons.min.scss";

  // Atoms
  @import 'atoms/button.scss';

  // Layout
  @import 'layout/header.scss';

  //Component
  @import 'components/add-keyword-popup';
  @import 'components/add-keyword-animation';
  @import "components/alert";
  @import "components/overview";
  @import "components/datepicker";

  // Sections
  @import 'sections/keyword-list';
  @import 'sections/keyword-table';
  @import 'sections/activation';
  @import 'sections/settings';
}

@import "components/admin-menu";
