.wprt_settings{
  
  *{
    box-sizing: border-box;
  }

  &{
    width: calc(100% - 40px);
    padding: 0px 20px 20px 20px;
    @include container;
  }

  &_panel{
    display: flex;
    gap: 15px;  
    flex-flow: column;
    max-width: unset !important;
    width: 100%;
    background: $white-color;
    border: 1px solid $border-light-gray;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    
    &_heading{
      padding: 20px;
      border-bottom: 1px solid $border-light-gray;

      h5{
        margin-bottom: 0;
      }

      p{
        margin-top: 10px;
        margin-bottom: 0;
      }
    }

    &_body{
      cursor: default;
      padding: 20px;
    }
  }

  &_left{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 70%;
  }

  &_right{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 30%;
  }

  &_actions {
    
    button {
      cursor: pointer;
    }
    
    .wprt_remove_license_submit {
      margin-right: 15px;
      border: none;
      outline: none;
    }
  }

  &_form {
    display: flex;
    gap: 20px;
    width: 100%;
  
    label {
      display: block;
      text-align: left;
      font-weight: 600;
    }
  
    &_fields_wrapper{
      display: flex;
      flex-flow: column;
      gap: 20px;
    }
  
    &_input_col{
      display: flex;
      gap: 20px;
    }
  
    &_input_wrapper{
      display: flex;
      flex-flow: column;
      gap: 5px;
      width: 100%;
    }
  
    [type="text"],
    [type="email"],
    select {
      width: 100%;
      padding: 8px 16px;
      border-radius: 8px;
      outline: none;
      transition: .3s all linear;
      box-shadow: none;
      border: 1px solid $border-input;
  
      &:focus{
        border-color: $primary-color;
      }
    }
  
    &_table{
      width: 100%;
  
      td:first-child{
          max-width: 25px;
      }
    }
  
    &_submit, [type="submit"]{
      border: none;
      outline: none;
      width: 100%;
      text-transform: uppercase;
    }
  }
}