.wprt_rank_status_image-chrome {
  width: 128px;
  height: 120px;
  div {
    position: absolute;
    width: 16px;
    height: 16px;
    background: $light-purple-color;
    box-shadow: 2px 2px 8px rgba($light-purple-color, .09);
    border-radius: 50%;
    animation: moveSvg 6.9s linear infinite;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    transform: scaleX(-1);
    offset-path: path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z");
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background: inherit;
      top: 50%;
      left: 50%;
      margin: -$md-padding*.7 0 0 -$md-padding*.7;
      box-shadow: inherit;
    }
    &:before {
      animation: drop1 .8s linear infinite;
    }
    &:after {
      animation: drop2 .8s linear infinite .4s;
    }
    &:nth-child(2) {
      animation-delay: -2.3s;
    }
    &:nth-child(3) {
      animation-delay: -4.6s;
    }
  }
}

@keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: $dark-purple-color;
  }
  75% {
    background: $turquoise-color;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%,
  100% {
    margin-left: -$md-padding*6;
  }
}

@keyframes move {
  0%,50% {
    left: -$md-padding*.8;
  }
  25% {
    background: $dark-purple-color;
  }
  75% {
    background: $turquoise-color;
  }
  50.0001%,
  100% {
    left: auto;
    right: -8px;
  }
}

@keyframes drop1 {
  100% {
    transform: translate(32px, 16px) scale(0);
  }
}

@keyframes drop2 {
  0% {
    transform: translate(0, 0) scale(.9);
  }
  100% {
    transform: translate(32px, -16px) scale(0);
  }
}

.wprt_rank_status_image-safari {
  display: none;
}
