.wprt_overview {
  border-radius: 7px;

  &_container {
    display: flex;
    flex-wrap: wrap;
  }
  
  &_title {
    @include type(20, 30);
    @include semi-bold;
    color: $title-color;
  }
  
  &_boxes {
    display: flex;
    grid-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  &_logo {
    max-width: 180px;
    margin-right: 20px;
  }

  &_detail {
    clear: both;

    .wprt_overview_title {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  
  &_right {
    flex: 1;
  }
  
  &_box {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #edf2f9;
    border-radius: .5rem;
    border-color: #edf2f9;
    box-shadow: 0 .75rem 1.5rem rgba(18, 38, 63, .03);
    max-width: 260px;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    > div {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    
    &_icon {
      text-align: end;
    }
    
    &_title {
      @include type(10, 11);
      @include medium;
      color: #95aac9;
      letter-spacing: .08em;
      margin-bottom: 5px;
    }
    
    &_count {
      @include type(20, 22);
      @include medium;
      color: #12263f;
      
      
      span {
        @include type(16, 20);
        @include medium;
        color: $title-light-color;
      }
    }
    
    &_content {
      font-size: 20px !important;
      line-height: 22px !important;
      align-items: center;
      
      span {
        font-size: 12px !important;
        line-height: 14px !important;
      }
    }
    
    span.wprt_overview_box_keyword {
      &_up {
        @include type(13, 16);
        @include semi-bold;
        color: $success-text-color;
      }
      
      &_down {
        @include type(13, 16);
        @include semi-bold;
        color: $error-text-color;
      }
    }
  }
}