$purple-color: #581BCA;
$yellow-color: #EFE27F;

$secondary-light-color: #89D99D;
$fetchrank-bg: #229ccc;

$third-color: #c7d8ff;
$third-dark-color: #5c6185;
$third-light-color: #F9F9F9;

$border-gray: #b5bfc9;
$border-light-gray: #edf2f9;
$border-input: #ebebeb;
$placeholder-color: #ACABAB;
$light-gray-color: #C5BEBE;
$light-gray-text-color: #ABADB4;
$dark-gray-color: #232425;

$white-color: #ffffff;
$black-color: #000000;

$warning-color: #FFC36E;
$error-color: #D2555A;

$purple-light: #F0EAFE;
$title-color: #37474F;
$title-light-color: #586870;
$light-text-color: #434148;
$dark-text-color: #FFFFFF;
$success-text-color: #5AB267;
$error-text-color: #E63A57;

$x-sm-padding: 4px;
$sm-padding: 8px;
$md-padding: 10px;
$lg-padding: 15px;

$light-purple-color: #8C6FF0;
$dark-purple-color: #5628EE;
$turquoise-color: #23C4F8;

$primary-color: #5603AD;
$primary-dark-color: #420384;
$secondary-color: #C2F8CB;
$secondary-dark-color: #7eec90;

$primary-blue-color: #3ebef2;

$background-offwhite: #F8F8F8;